// Text-color-map
$txtClr: (
  "whity": #ffffff,
  "black": #303030,
  "gray": #555555,
);

// Bg-color-map
$bgClr: (
  "whity": #ffffff,
  "light-gray": #f7f7f7,
  "dark": #191c26,
);

// Action-color-map
$actClr: (
  "orange": #ff6c00,
);

// Fonts
$main-font: "Open Sans", sans-serif;
$sec-font: "Raleway", sans-serif;
// Linear-gradient
$line-grad: linear-gradient(rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2));
$sec-line-grad: linear-gradient(rgba(23, 26, 36, 1), rgba(23, 26, 36, 0.2));
$hero-line-grad: linear-gradient(rgba(25, 28, 38, 1), rgba(25, 28, 38, 0.2));
// Transition
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// Transform
$transform-effect: scale(1.1, 1.2);
// Font-size
$font-standard-size: 1rem;
// Font-weight
$thin-font-weight: 100;
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$black-font-weight: 900;
// Letter-spacing
$base-letter-spacing: 0.03em;
$pixel-letter-spacing: 1.08;
// Line-height
$base-line-height: 1.2;
$secondary-line-height: 1.71;
$additional-line-height: 1.5;
// Layout-width
$fullLayoutWidth: 1280px;
$sidePadding: 55px * 2;
