.container {
  @include containerWidth(work);
  width: 100%;

  @include forSize(minmob) {
    width: 480px;
  }

  @include forSize(mintab) {
    width: 768px;
  }

  @include forSize(minpc) {
    width: 1200px;
  }
}

.section {
  padding-bottom: em(100);
  padding-top: em(100);
}

.visually-hidden {
  @extend %visually-hidden;
}
